.tabs .indicator{
    background-color: #1a237e;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
}

.devicons-wrap{
    text-align: center;
}
.devicons {
    max-width: 60px;
}
.devicons:hover{
    opacity: 0.6;
}
.card-content:hover{
background-color:#f0eded;
}
.card-image img{
height: 170px;
}

.card-content{
height: 200px;
}

.card-action .fab{
font-size: 40px;
color: black;
}

@media(max-width: 992px) { 
.card-content {
    height: 150px;
}
}

@media(max-width: 600px) { 
.parallax-container {
    height: 200px;
    background-attachment: parallax;
}
.card-content{
    height: 130px;
}
}